@font-face {
    font-family: 'GT-American';
    src: url('../fonts/GT-America/GT-America-Compressed-Bold-Trial.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CODING HEADER */

.hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #121110;
    font-family: 'GT-American', sans-serif;
    font-style: italic;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 99999;
}

/* LOGO */

.hd > .head-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50px;
    margin-left: 25px;
}

.hd > .head-left > .logo {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hd > .head-left > .logo > .a {
    text-decoration: none;
    color: #f2f4f3;
    font-style: italic;
    font-weight: bold;
    font-family: 'GT-American', 'Kanit', sans-serif;
}

.hd > .head-left > .logo > .a > h1 {
    font-family: 'GT-American', 'Kanit', sans-serif;
    font-weight: bold;
    font-style: italic;
}

/* NAVIGATION */

.hd > .head-center  {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 50px;
    align-items: center;
    text-align: center;
}

.hd > .head-center > .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'GT-American', 'Kanit', sans-serif;
    list-style: none;
}

.hd > .head-center > .nav > li {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font-family: 'GT-American', 'Kanit', sans-serif;
    font-style: italic;
    font-weight: bold;
    list-style: none;
}

.hd > .head-center > .nav > li > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
    font-family: 'GT-American', 'Kanit', sans-serif;
    text-decoration: none;
    color: #dee2e6;
    font-size: 1.25rem;
}

.hd > .head-center > .nav > li > a:hover {
    color: #fff;
}

.hd > .head-center > .nav > li > a::after {
    content: "";
    width: 65%;
    height: 3.5px;
    background-image: radial-gradient(#ff00c8, #ff00c8);
    background-repeat: no-repeat;
    background-size: 0px;
    transition: background-size .4s ease-in-out;
}

.hd > .head-center > .nav > li > a:hover::after {
    background-size: 100%;
}

/* .hd > .head-center > .nav > li > a::after {
    content: "";
    width: 0%;
    display: block;
    border-bottom: 2px solid transparent;
    transition: width .4s ease-in;
}

.hd > .head-center > .nav > li > a:hover::after {
    width: 80%;
    border-bottom: 2px solid #ff00c8;
} */

/* EXTRA NAVIGATION */

.hd > .head-right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 25px;
    width: 5%;
    height: 50px;
}

.hd > .head-right > .lk {
    color: #dee2e6;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hd > .head-right > .lk:hover {
    color: #ff00c8;
    transition: color .3s ease-in-out;
}