.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top:25px;
    background: #fff;
    padding-bottom: 0px;
    width: 600px;
    height:100%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: #FE572E;
    font-size: 40px;
    font-weight: 700;
}

.underline{
    width: 90px;
    height: 6px;
    background: black;
    border-radius: 9px;
}

.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.icon{
    margin: auto 15px;
    font-size: 20px;
    text-align: center;
}

.icon-size{

}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: sans-serif;
}

.forgot-password{
    padding-left: 105px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #f30707;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 40px;
    color: #fff;
    background: #FE572E;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-top: -5px;

}

.gray{
    background: #EAEAEA;
    color: #676767;
}

.padding{
    padding-bottom: 20px;
}

.login-here{
    padding-left: 220px;
    margin-top: -5px;
    color: #797979;
    font-size: 18px;
}

.login-here span{
    color: #fe572e;
    cursor: pointer;
}